.form_container{
    border-right: 1px solid #eee;
}
.activity_container{
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.activity_container ul{
    list-style-position: inside;
}
.album_title::after{
    content: ',';
}
.album_title:last-child::after{
    content: ''
}