.card {
  border: none !important;
}
.card-body {
  padding: 10px !important;
}
.sidebar {
  border-right: 1px solid #eee;
}
.genre_list {
  list-style: none;
  padding: 0;
}
.pager {
  list-style: none;
  padding: 0;
}
.pager li {
  display: inline-block;
  margin-right: 15px;
  padding: 5px 15px;
  border: 1px solid #eee;
  border-radius: 15px;
}
